.env

*.tfvars
*.tfstate


.terraform/
.terraform.lock.hcl

*.tfstate
*.tfstate.*

crash.log
*.log

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

planfile
*.tfplan

.aws/credentials
.aws/config
